<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99857321503-uj1k6cc5jd40oto597lbol0gkjjbifbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99857321503-uj1k6cc5jd40oto597lbol0gkjjbifbj</string>
	<key>API_KEY</key>
	<string>AIzaSyC-1QrKq6fahxyRXoinlqBJT-9mfXIE8gE</string>
	<key>GCM_SENDER_ID</key>
	<string>99857321503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.MINIMO</string>
	<key>PROJECT_ID</key>
	<string>minimo-377e2</string>
	<key>STORAGE_BUCKET</key>
	<string>minimo-377e2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99857321503:ios:5e2cd6e244aa92b1aa4f2a</string>
</dict>
</plist>