Minimo/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_8_0.bundle
Minimo/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_8_0.so
Minimo/Assets/Firebase/Plugins/FirebaseCppApp-12_8_0.bundle.meta
Minimo/Assets/Firebase/Plugins/FirebaseCppApp-12_8_0.so.meta
